footer p {
  position: fixed;
  bottom: 0;
  margin: 0;
  font-size: 12px;
  text-align: center;
  display: block;
  background-color: #ccc;
  width: 100%;
  left: 0;
  font-weight: bold;
  padding: 3px;
}

footer p a {
  text-decoration: none;
}

#login-form-wrapper,
#signup-form-wrapper {
  margin-top: 200px;
}
#login-form,
#signup-form {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px;
}

/* body {
  /* background-image: url(../img/bg1.jpg); 
} */
h1 {
  text-align: center;
  color: white;
}
.swal-button {
  background-color: #0062cc;
}

.chart-container {
  height: 600px;
}

.navbar-brand {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding-left: 30px;
}

div#tradingview_deb17 {
  height: 600px;
}

.bitcoin-news-body {
  margin-bottom: -7px;
}
.ml-auto,
.mx-auto {
  margin-left: auto !important;
  padding-left: 40px;
}
.mobile-menu-button {
  display: none !important;
}
.page-wrapper > .container-fluid {
  padding: 20px;
  min-height: calc(100vh - 100px);
}
.currency-amount {
  font-size: 1.5em;
}
.d-flex.flex-row.comment-row.m-t-0:hover {
  background-color: white;
}
